<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>회원가입</title>
  <link rel="stylesheet" th:href="@{/css/common.css}" />
</head>
<body>
  <div class="fullscreen-container">
    <div class="form-container">
      <h2>회원가입</h2>
      <form th:action="@{/member/join}" method="post" th:object="${joinForm}">

        <!-- 이메일 -->
        <div class="input-group">
          <div class="input-row">
            <label for="email">이메일</label>
            <input type="text" id="email" th:field="*{email}" placeholder="이메일 입력" />
          </div>
          <span class="field-err" th:each="err : ${#fields.errors('email')}" th:text="${err}"></span>
        </div>

        <!-- 비밀번호 -->
        <div class="input-group">
          <div class="input-row">
            <label for="password">비밀번호</label>
            <input type="password" id="password" th:field="*{password}" placeholder="비밀번호 입력" />
          </div>
          <span class="field-err" th:each="err : ${#fields.errors('password')}" th:text="${err}"></span>
        </div>

        <!-- 비밀번호 확인 -->
        <div class="input-group">
          <div class="input-row">
            <label for="confirmPassword">비밀번호 확인</label>
            <input type="password" id="confirmPassword" th:field="*{confirmPassword}" placeholder="비밀번호 재입력" />
          </div>
          <span class="field-err" th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}"></span>
        </div>

        <!-- 닉네임 -->
        <div class="input-group">
          <div class="input-row">
            <label for="nickname">닉네임</label>
            <input type="text" id="nickname" th:field="*{nickname}" placeholder="별칭 입력" />
          </div>
          <span class="field-err" th:each="err : ${#fields.errors('nickname')}" th:text="${err}"></span>
        </div>

        <!-- 제출 버튼 -->
        <div class="button-group">
          <button type="submit" class="cool-button">가입하기</button>
        </div>

      </form>
    </div>
  </div>
</body>
</html>
